<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid d-flex justify-content-center">
    <div style="background-color: rgb(150, 96, 96); width: 75%;" class="container-fluid d-flex justify-content-center text-white">
      <p id="copyright">&copy; 2023 Copyright - Brewbean</p>
    </div>
  </div>
</nav>