
<body>
  <div class="centered-content">
    <h1 class="header-title">Settings</h1>
  </div>
  
  <div class="grid-container centered">
    <div class="button-container centered">
      <form action="/web/reset" method="post">
        <button type="submit" class="btn btn-danger">Reset Database</button>
      </form>
    </div>
  </div>
</body>

