<!DOCTYPE html>
<html>
<head>
  <title>Add New Basket</title>
  <link rel="stylesheet" href="/content/style.css">
</head>
<body>
  <h1>Basket Details</h1>
  <form action="/basketadd/<%= newBasketId %>" method="post">
    
    <div class="table-container">
      <table>
        <tr>
          <td>ID:</td>
          <td><input type="text" name="idProduct" disabled="" value="<%= newBasketId %>"></td>
          <td rowspan="5" style="width: 300px; text-align: center;">
            <!-- Display the current basket image (as a placeholder) -->
            <img src="/content/images/placeholder.jpg" alt="Basket Image" width="200" height="200">
            <br><br>
            <div class="fit-content" style="margin-left: 80px;">
              <input type="file" name="ProductImage" accept="image/*">
            </div>
          </td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><input type="text" name="ProductName" required></td>
        </tr>
        <tr>
          <td>Description:</td>
          <td><textarea name="Description" rows="2" required></textarea></td>
        </tr>
        <tr>
          <td>Stock:</td>
          <td><input type="number" name="STOCK" required></td>
        </tr>
        <tr>
          <td>Price:</td>
          <td><input type="number" name="Price" step="0.01" required></td>
        </tr>
        <tr>
          <td>Department:</td>
          <td colspan="2">

          </td>
        </tr>
        <tr>
          <td>Sale Start:</td>
          <td colspan="2"><input type="date" name="SaleStart"></td>
        </tr>
        <tr>
          <td>Sale End:</td>
          <td colspan="2"><input type="date" name="SaleEnd"></td>
        </tr>
        <tr>
          <td>Sale Price:</td>
          <td colspan="2"><input type="number" name="SalePrice"></td>
        </tr>
        <tr>
          <td>Active:</td>
          <td colspan="2"><input type="checkbox" name="Active" checked></td>
        </tr>
        <tr>
          <td>Featured:</td>
          <td colspan="2"><input type="checkbox" name="Featured"></td>
        </tr>
        <tr>
          <td>Feature Start:</td>
          <td colspan="2"><input type="date" name="FeatureStart"></td>
        </tr>
        <tr>
          <td>Feature End:</td>
          <td colspan="2"><input type="date" name="FeatureEnd"></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td colspan="2"><input type="text" name="Type"></td>
        </tr>
        <tr>
          <td>ORDERED:</td>
          <td colspan="2"><input type="number" name="ORDERED" required></td>
        </tr>
        <tr>
          <td>REORDER:</td>
          <td colspan="2"><input type="number" name="REORDER" required></td>
        </tr>
      </table>
    </div>    

    <div class="button-container">
      <button type="submit" class="btn btn-success">Add Basket</button>
      <a href="/basketslist" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</body>
</html>
